/* variables */
:root {
  --dark: white;
  --gray: #686a69;
  --primary: lightblue;

  /* sizes */
  --sm: 480px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;
}

body {
  font-family: "helvetica";
  background-color: white;
  color: black;

  
  /* overflow-y: hidden; */
}

/* default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 0.5rem;
  font-weight: bold;
}

a:active,
a:visited {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}
button,
button:active,
button:active:disabled {
  border-style: none;
  background: transparent;
  font-size: 1rem;
  color: inherit;
  font-weight: inherit;
  font-family: "Raleway", sans-serif;
}
button:hover {
  color: black;
}

/* utility classes */
@media screen and (min-width: 480px) {
  .container {
    max-width: (var(--sm));
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: (var(--md));
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: (var(--lg));
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: (var(--xl));
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (min-width: 1536px) {
  .container {
    max-width: (var(--2xl));
    margin-left: 15%;
    margin-right: 15%;
  }
}

.main-heading {
  font-size: 60px;
  line-height: 150%;
  font-weight: 700;
}
.main-heading-2 {
  font-size: 45px;
  line-height: 150%;
  font-weight: 700;
}

.sub-heading {
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  color: var(--gray);
}

section {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.left {
  flex: 1;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.right-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  background-color: lightblue;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: inherit;
}
button:hover {
  color: white;
}

.d-block {
  display: block;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
}

/* utility classes end*/

/* Header */
.navbar {
  width: 100%;
  margin-left: 0%;
  background: lightblue;
  background-size: 3in 2in ; /* Adjust the size as needed */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}
/* Navbar */
.navbar-nav a:hover {
  color: black;
}


.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
  width: 20%;
  color: white;
  flex-wrap: nowrap;
}
.navbar-nav a:hover {
  color: white;
}


.navbar-items {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-self: flex-end;
  flex-wrap: nowrap;
}
.navbar-items .navbar-nav-mobile {
  display: none;
  flex-wrap: nowrap;
}

.navbar-nav {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: black;
  font-weight: 600;
  gap: 2rem;
}

.navbar-accounts-items {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  color: black;
}

.navbar-accounts-items li {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-accounts-items li:first-child {
  height: 30px;
  width: 30px;
  border: 1px solid;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hamburger {
  display: none;
}

/* Header End */

/* Hero Section */
.hero {
  display: flex;
  padding: 0 20px;
  align-items: center;
  gap: 70px;
}

.hero-image img {
  width: 400px;
  height: 450px;
  border-radius: 40px;
}
.hero-image img {
  width: 500px; /* Adjust the width to your desired value */
  height: 450px;
  border-radius: 40px;
}

.hero-call-to-action {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
}

.hero-call-to-action button {
  background-color: lightblue;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: inherit;
}
.hero-call-to-action .link > a {
  text-decoration: underline;
  color: black;
}
.hero-call-to-action button:hover {
  color: black;
}
/* Hero Section End */

/* New Collection Section */
.new-collection {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 70px;
}
/* New Collection Section End */

/* Shop Section */
.shop-section {
  padding: 20px;
}
.shop-categories {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 600;
  flex-wrap: wrap;
}
.shop-categories-item {
  background-color: var(--darker-gray);
  padding: 10px 20px;
  border-radius: 20px;
}
.shop-categories-item:first-child {
  background-color: lightblue;
  padding: 10px 20px;
  border-radius: 20px;
}

/* Shop Section End */
.shop-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 75px;
}
.shop-section .bottom {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 60px;
}
.shop-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.shop-card .shop-image img {
  width: 280px;
  height: 340px;
  object-fit: cover;
}
.shop-card .shop-image img {
  width: 280px;
  height: 340px;
  object-fit: cover;
  border-radius: 15px; /* Adjust the border-radius as needed */
}

.shop-category-name {
  font-size: 16px;
  font-weight: 600;
}

/* Experience */
.experience {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 20px;
}

.experience .left {
  position: relative;
}

.experience .left > img {
  position: absolute;
  top: 9px;
  left: 7%;
  width: 44%;
}

.experience .background {
  background-color: lightblue;
  width: 268px;
  height: 284px;
  border-radius: 20px;
}
/* Experience End */

/* Banner Section */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  gap: 70px;
  margin-top: 75px;
  background-color: var(--darker-gray);
  padding: 20px;
}
.banner .left {
  margin-left: 15%;
}
.banner-call-to-action {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
}
/* Banner Section End */
/* Gallery Section */
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 40px;
}
.gallery-heading {
  width: 100%;
  text-align: center;
}
.image-gallery {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px);
  margin: 0 auto;
  max-width: 90%;
  padding: 3rem 0;
}
.image-gallery .image-container {
  position: relative;
}

.image-gallery .image-container > img {
  object-fit: cover;
  border-radius: 1rem;
  height: 100%;
}

.image-gallery .image-container:nth-child(2) {
  grid-row: span 2;
}

.image-gallery .image-container .overlay {
  display: none;
  position: absolute;
  bottom: 0;
  color: black;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.4;
  border-radius: 1rem;
  cursor: pointer;
  transition: display 500ms ease-in-out;
}
.image-container .overlay-text {
  transform: translateY(100%);
  width: 100%;
  position: absolute;
  padding: 20px;
  bottom: 20px;
  color: black;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.overlay-text h3 {
  font-weight: 600;
}
.overlay-text p {
  font-size: 14px;
}

.image-gallery .image-container:hover .overlay {
  display: block;
}
.image-gallery .image-container:hover .overlay-text {
  transform: translateY(0);
}

/* Gallery Section End */

/* New Product */
.new-product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  position: relative;
  padding: 20px;
}

.new-product img {
  width: 44%;
}

.new-product .left {
  position: relative;
}
.new-product .left .strips .strip {
  content: "";
  position: absolute;
  top: 60px;
  height: 90%;
  width: 20px;
  background-color: black;
  transform: rotate(145deg);
  z-index: -1;
  border-radius: 5px;
}

.new-product .left .strips .angle1 {
  left: calc(0px + 3%);
}
.new-product .left .strips .angle2 {
  left: calc(80px + 3%);
}
.new-product .left .strips .angle3 {
  left: calc(160px + 3%);
}
.new-product .left .strips .angle4 {
  left: calc(240px + 3%);
}

/* New Product End */
/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}
.projects .top-section {
  display: flex;
  align-items: center;
  gap: 70px;
}
.project-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  position: relative;
  padding: 30px 0;
}
.project-card::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  top: 0;
  background-color: var(--gray);
}
.project-count {
  font-size: 24px;
  font-weight: 600;
}
.project-card .project-short-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}
.project-short-content h3 {
  font-weight: bold;
  font-size: 24px;
}
.project-short-content p {
  height: 3em;
  line-height: 1.5em;
  overflow: hidden;
}
.project-card .project-image img {
  width: 400px;
  height: 150px;
  object-fit: cover;
  border-radius: 1rem;
}
.project-card .project-call-to-action .outline {
  background-color: transparent;
  border: 1px solid lightblue;
  color: white;
  filter: brightness(0.75);
}
/* Projects End */

/* Footer */
footer {
  padding: 20px 20px;
  margin-top: 75px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  top: 0;
  background-color: white;
}
footer h4 {
  font-weight: 600;
}
footer h4 {
  font-weight: 600;
  color: white; /* Default text color */
  transition: color 0.3s ease; /* Add a smooth transition effect */
}

footer h4:hover {
  color: lightblue; /* Text color on hover */
}

/* Footer End */
